<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <% if (isMovie === true) { %>
                    <form action="/search/movies" method="post">
                        <div class="row mb-4">
                            <div class="form-group col-md-9">
                            <input id="movie" type="text" name="movie" placeholder="What movie are you searching for?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                            <button type="submit" class="mr-5 mr-xl-5 btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                            </div>
                        </div>
                    </form>
                <% } else { %>
                    <form action="/search/tv" method="post">
                        <div class="row mb-4">
                            <div class="form-group col-md-9">
                                <input id="tvSeries" type="text" name="tvSeries" placeholder="What series are you searching for?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="mr-5 mr-xl-5 btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                            </div>
                        </div>
                    </form>
                <% } %>
                <div class="ml-5 ml-lg-4 dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Discover
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/discover/movies">movies</a>
                      <a class="dropdown-item" href="/discover/tv">tv series</a>
                    </div>
                </div>
                <li class="nav-item">
                    <div class="ml-5 ml-lg-4 dropdown show">
                        <a class="dropdown-toggle" href="#" role="link" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-2x mt-1 fa-cog" aria-hidden="true"></i>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/profile">view profile</a>
                          <a class="dropdown-item" href="/settings">edit settings</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <% if (isMovie === true) { %>
            <div class="sort-test">
                <h4>Sort</h4><hr>
                <form action="/sort/movie" method="post">
                    <div class="form-group col-md-12">
                        <label for="inputState">Sort Results By</label>
                        <select id="inputState" name="sortResults" class="form-control">
                          <option value="popularity.desc" <%=(sortTag === "popularity.desc" ? "selected" : "")%> >Popularity Descending</option>
                          <option value="popularity.asc" <%=(sortTag === "popularity.asc" ? "selected" : "")%> >Popularity Ascending</option>
                          <option value="vote_average.desc" <%=(sortTag === "vote_average.desc" ? "selected" : "")%> >Rating Descending</option>
                          <option value="vote_average.asc" <%=(sortTag === "vote_average.asc" ? "selected" : "")%> >Rating Ascending</option>
                          <option value="primary_release_date.desc" <%=(sortTag === "primary_release_date.desc" ? "selected" : "")%> >Release Date Descending</option>
                          <option value="primary_release_date.asc" <%=(sortTag === "primary_release_date.asc" ? "selected" : "")%> >Release Date Ascending</option>
                          <option value="original_title.asc" <%=(sortTag === "original_title.asc" ? "selected" : "")%> >Title (A-Z)</option>
                          <option value="original_title.desc" <%=(sortTag === "original_title.desc" ? "selected" : "")%> >Title (Z-A)</option>
                        </select>
                      </div>
                      <button type="submit" class="sort-btn btn btn-primary">Sort</button>
                </form>
            </div>
        <% } else { %>
            <div class="sort-test">
                <h4>Sort</h4><hr>
                <form action="/sort/tv" method="post">
                    <div class="form-group col-md-12">
                        <label for="inputState">Sort Results By</label>
                        <select id="inputState" class="form-control">
                          <option selected>Popularity Descending</option>
                          <option>Popularity Ascending</option>
                          <option>Rating Descending</option>
                          <option>Rating Ascending</option>
                          <option>Release Date Descending</option>
                          <option>Release Date Ascending</option>
                          <option>Title (A-Z)</option>
                          <option>Title (Z-A)</option>
                        </select>
                      </div>
                      <button type="submit" class="sort-btn btn btn-primary">Sort</button>
                </form>
            </div>
        <% } %>
        <!-- <div class="position-absolute sticky-top sort-test">dkhdkhh</div> -->
        <% if (popular !== undefined && isMovie === true) { %>
            <%var i = 1; %>
            <div class="row">
                <% popular.forEach((popularMovies) => { %>                
                    <div class="col-lg-2">
                        <a href="/title/<%=pageNo%>/<%=popularMovies.id%>">

                            <% if (popularMovies.title.length > 8) { %>
                                <% var str = popularMovies.title.slice(0, 9) %>
                                <h6 class="mp-2"><%=str%>... <i class="fa fa-star" style="color:gold" aria-hidden="true"></i><span style="color:black;"> <small style="color: grey;"><%=popularMovies.vote_average%></small>/10</span></h6>
                            <% } else { %>
                                <h6><%=popularMovies.title%> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i><span style="color:black;"> <small style="color: grey;"><%=popularMovies.vote_average%></small>/10</span></h6>
                            <% } %>
                            <!-- <div class="col-lg-20">
                                <p class="mt-5 mt-lg-3"><%///=popularMovies.title%></p>
                            </div> -->
                            <% if (popularMovies.poster_path) { %>
                                <img src="https://image.tmdb.org/t/p/w185/<%=popularMovies.poster_path%>" alt="<%=popularMovies.title%>"><br>
                            <% } else { %>
                                <img class="poster-placeholder" src="https://moviereelist.com/wp-content/uploads/2019/07/poster-placeholder.jpg" alt="<%=popularMovies.title%>"><br>
                            <% } %>
                            
                        </a>
                        <small id="releaseDate" class="text-muted">Released <% var mydate = new Date(popularMovies.release_date);%> <%=mydate.toDateString();%></small>
                    </div>
                    <% if (i%5 == 0) { %>
                        <div class="w-100"></div>
                    <% } %>
                    <%i++;%>
                <% }) %>
            </div>
            <% if (totalPages > 1) { %>
                <% if (discMovie === false) { %>
                    <a class="btn btn-primary" href="/discover/page=1" role="button">First</a>
                    <a class="btn btn-primary" href="/discover/page=1" role="button">1</a>
                    <a class="btn btn-primary" href="/discover/page=2" role="button">2</a>
                    <a class="btn btn-primary" href="/discover/page=3" role="button">3</a>
                    <a class="btn btn-primary" href="/discover/page=4" role="button">4</a>
                    <a class="btn btn-primary" href="/discover/page=<%=totalPages%>" role="button">last</a>
                    <!-- <%// if (pageNo > 1) { %>
                        <a class="btn btn-primary" href="/discover/page=<%=(pageNo - 1)%>" role="button">previous</a>
                    <%// } %>
                    <%// while (pageNo <= totalPages) { %>
                        <a class="btn btn-primary" href="/discover/page=<%=pageNo%>" role="button"><%=pageNo%></a>
                        <//%pageNo++;%>
                    <%// } %> -->
                    <!-- <%// if (pageNo >= 1) { %>
                        <a class="btn btn-primary" href="/discover/page=<%//=(pageNo + 1)%>" role="button">next</a>
                    <%// } %> -->

                <% } else { %>
                    <a class="btn btn-primary" href="/discover/movies/page=1" role="button">First</a>
                    <a class="btn btn-primary" href="/discover/movies/page=1" role="button">1</a>
                    <a class="btn btn-primary" href="/discover/movies/page=2" role="button">2</a>
                    <a class="btn btn-primary" href="/discover/movies/page=3" role="button">3</a>
                    <a class="btn btn-primary" href="/discover/movies/page=4" role="button">4</a>
                    <a class="btn btn-primary" href="/discover/movies/page=<%=totalPages%>" role="button">last</a>
                <% } %>
            <% } %>
        <% } else if (popular !== undefined && isMovie === false) {%>
            <%var i = 1; %>
            <div class="row">
                <% popular.forEach((popularMovies) => { %>                
                    <div class="col-lg-2">
                        <a href="/title/tv/<%=pageNo%>/<%=popularMovies.id%>">
                            <% if (popularMovies.name.length > 8) { %>
                                <% var str = popularMovies.name.slice(0, 9) %>
                                <h6 class="mp-2"><%=str%>... <i class="fa fa-star" style="color:gold" aria-hidden="true"></i><span style="color:black;"> <small style="color: grey;"><%=popularMovies.vote_average%></small>/10</span></h6>
                            <% } else { %>
                                <h6><%=popularMovies.name%> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i><span style="color:black;"> <small style="color: grey;"><%=popularMovies.vote_average%></small>/10</span></h6>
                            <% } %>
                            <!-- <div class="col-lg-20">
                                <p class="mt-5 mt-lg-3"><%///=popularMovies.title%></p>
                            </div> -->
                            <% if (popularMovies.poster_path) { %>
                                <img src="https://image.tmdb.org/t/p/w185/<%=popularMovies.poster_path%>" alt="<%=popularMovies.name%>"><br>
                            <% } else { %>
                                <img class="poster-placeholder" src="https://moviereelist.com/wp-content/uploads/2019/07/poster-placeholder.jpg" alt="<%=popularMovies.name%>"><br>
                            <% } %>
                        </a>
                        <small id="releaseDate" class="text-muted">Released <% var mydate = new Date(popularMovies.first_air_date);%> <%=mydate.toDateString();%></small>
                    </div>
                    <% if (i%5 == 0) { %>
                        <div class="w-100"></div>
                    <% } %>
                    <%i++;%>
                <% }) %>
                <% if (totalPages > 1) { %>
                    <a class="btn btn-primary" href="/discover/tv/page=1" role="button">First</a>
                    <a class="btn btn-primary" href="/discover/tv/page=1" role="button">1</a>
                    <a class="btn btn-primary" href="/discover/tv/page=2" role="button">2</a>
                    <a class="btn btn-primary" href="/discover/tv/page=3" role="button">3</a>
                    <a class="btn btn-primary" href="/discover/tv/page=4" role="button">4</a>
                    <a class="btn btn-primary" href="/discover/tv/page=<%=totalPages%>" role="button">last</a>
                <% } %>
            </div>
        <% } %>
    </div>
<%- include('./../partials/footer')%>