<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <li class="nav-item">
                <a class="nav-link" href="/logout">Logout</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/profile">Profile</a>
                </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        <% if (popular !== undefined) { %>
            <%var i = 1; %>
            <div class="row">
            <% popular.forEach((popularMovies) => { %>                
                <div class="col-lg-2">
                    <a href="/title/<%=popularMovies.id%>">
                        <!-- <div class="col-lg-20">
                            <p class="mt-5 mt-lg-3"><%///=popularMovies.title%></p>
                        </div> -->
                        <img src="https://image.tmdb.org/t/p/w185/<%=popularMovies.poster_path%>" alt="<%=popularMovies.title%>"><br>
                    </a>
                    <small id="releaseDate" class="text-muted">Released <% var mydate = new Date(popularMovies.release_date);%> <%=mydate.toDateString();%></small>
                </div>
                <% if (i%5 == 0) { %>
                    <div class="w-100"></div>
                <% } %>
                <%i++;%>
            <% }) %>
            </div>
            
        <% } %>
    </div>
<%- include('./../partials/footer')%>