<%- include('./../partials/header')%>

    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="/index">Hypertube</a>
        <ul class="nav justify-content-end">
            <% if (!data.userId) { %>
                <li class="nav-item">
                <a class="nav-link active" href="/login">Sign In</a>
                </li>
                <li class="nav-item">
                <a class="nav-link" href="/signup">Sign Up</a>
                </li>
            <% } else { %>
                <% if (isMovie === true) { %>
                    <form action="/search/movies" method="post">
                        <div class="row mb-4">
                            <div class="form-group col-md-9">
                            <input id="movie" type="text" name="movie" placeholder="What movie are you searching for?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                            <button type="submit" class="mr-5 mr-xl-5 btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                            </div>
                        </div>
                    </form>
                <% } else { %>
                    <form action="/search/tv" method="post">
                        <div class="row mb-4">
                            <div class="form-group col-md-9">
                                <input id="tvSeries" type="text" name="tvSeries" placeholder="What series are you searching for?" class="form-control form-control-underlined">
                            </div>
                            <div class="form-group col-md-3">
                                <button type="submit" class="mr-5 mr-xl-5 btn btn-primary rounded-pill btn-block shadow-sm">Search</button>
                            </div>
                        </div>
                    </form>
                <% } %>
                <div class="ml-5 ml-lg-4 dropdown show">
                    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Discover
                    </a>
                  
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                      <a class="dropdown-item" href="/discover/movies">movies</a>
                      <a class="dropdown-item" href="/discover/tv">tv series</a>
                      <a class="dropdown-item" href="/viewed">viewed</a>
                    </div>
                </div>
                <li class="nav-item">
                    <div class="ml-5 ml-lg-4 dropdown show">
                        <a class="dropdown-toggle" href="#" role="link" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-2x mt-1 fa-cog" aria-hidden="true"></i>
                        </a>
                      
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                          <a class="dropdown-item" href="/profile">view profile</a>
                          <a class="dropdown-item" href="/settings">edit settings</a>
                        </div>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/logout">Logout</a>
                    </li>
            <% } %>
        </ul>
    </nav>
    <div class="container">
        
        <!-- <div class="position-absolute sticky-top sort-test">dkhdkhh</div> -->
        <% if (popular !== undefined) { %>
            <%var i = 1; %>
            <div class="row">
                <% popular.forEach((popularMovies) => { %>                
                    <div class="col-lg-2">
                        <a href="<%=popularMovies.mediaLink%>">

                            <% if (popularMovies.mediaName.length > 8) { %>
                                <% var str = popularMovies.mediaName.slice(0, 9) %>
                                <h6 class="mp-2"><%=str%>... <i class="fa fa-star" style="color:gold" aria-hidden="true"></i><span style="color:black;"> <small style="color: grey;"><%=popularMovies.mediaRating%></small>/10</span></h6>
                            <% } else { %>
                                <h6><%=popularMovies.mediaName%> <i class="fa fa-star" style="color:gold" aria-hidden="true"></i><span style="color:black;"> <small style="color: grey;"><%=popularMovies.mediaRating%></small>/10</span></h6>
                            <% } %>
                            <!-- <div class="col-lg-20">
                                <p class="mt-5 mt-lg-3"><%///=popularMovies.mediaName%></p>
                            </div> -->
                            <% if (popularMovies.mediaPicture) { %>
                                <img src="https://image.tmdb.org/t/p/w185/<%=popularMovies.mediaPicture%>" alt="<%=popularMovies.mediaName%>"><br>
                            <% } else { %>
                                <img class="poster-placeholder" src="https://moviereelist.com/wp-content/uploads/2019/07/poster-placeholder.jpg" alt="<%=popularMovies.mediaName%>"><br>
                            <% } %>
                            
                        </a>
                        <small id="releaseDate" class="text-muted">Released <% var mydate = new Date(popularMovies.releaseDate);%> <%=mydate.toDateString();%></small>
                    </div>
                    <% if (i%5 == 0) { %>
                        <div class="w-100"></div>
                    <% } %>
                    <%i++;%>
                <% }) %>
            </div>
        <% } %>
    </div>
<%- include('./../partials/footer')%>